<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @person.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @person.last_name %>
</p>

<p>
  <b>Gender:</b>
  <%= @person.gender %>
</p>

<p>
  <b>Birth date:</b>
  <%= @person.birth_date %>
</p>

<p>
  <b>Persona name:</b>
  <%= @person.persona_name %>
</p>

<p>
  <b>Powers:</b>
  <%= @person.power_1 %><br/>
  <%= @person.power_2 %><br/>
  <%= @person.power_3 %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
